{% extends 'base.html' %}

{% block title %}Web Application{% endblock %}

{% block header_text %}
    <img src="/static/images/svg_logo.svg" alt="logo" width="100" height="100" />
    <h1 class="slogan">Welcome to Xu Zhiyong's Home Page!</h1>
{% endblock %}

{% block content %}
	<img src="/static/images/drinks.gif">
	<p>
		Join us any evening for refreshing  
		<a href={% url 'homepages:newLounge' %}>elixirs</a>,
		conversation and maybe a game or two of 
		<em>Dance Dance Revolution</em>.<br>
		Wireless access is always provided;
		<em>BYOWS</em> (Bring Your Own Web Server).
	</p>
	<h2>Directions</h2>
    <p>
      You'll find us right in the center of downtown Webville.   
      If you need help finding us, check out 
      our <a href={% url 'about' %}>detailed directions</a>.
      Come join us!
    </p>
	
{% endblock %}
