@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff");
	      url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	line-height: 1.6em;
	backgroud-color: #b5a789;
	margin-left: 8%;
	margin-right: 8%;
	border: 1px dotted gray;
	padding: 0px 10px 0px 10px;

}

h1 {
	font-family: "Emblema One", sans-serif;
	font-size: 220%;
	color: #007e7e;
}

h2 {
	font-size: 130%;
	color: #007e7e;
}

h3 {
	font-size: 115%;
	font-weight: normal;
}

p {
	color: black;
	text-align: left;
}

em {
	font-weight: bolder;
	text-decoration: blink;
}

Address {
	font-style: italic;
}

a:link {
	color: #007e7e;
}

a:visited {
	color: #333333;
}

a:hover {
	background: #f88396;
	color: #0d5353;
}

.cell {
	display: table-cell;
}

#container {
	padding: 0px 0px 10px 0px;
	background: #b5a789 url(images/cocktail.gif) repeat-x;
	background-position: bottom;
  }

header.top {
	background-color: #675c47;
	color: #efe5d0;
	height: 148px;
	padding-top: 1px;
	text-align: left;
	align-items: center;
}

footer {
	background-color: #675c47;
	color: #efe5d0;
	font-size: 90%;
	text-align: center;
	line-height: normal;
	clear: left;
}

header.top img {
	margin-left: 21px;
	margin-top:2px;
	float: left;
}

header.top img#headerLogo {
	margin-left: 21px;
	margin-top: 20px;
	float: left;
}

header.top .slogan {
	padding-top: 10px;
	padding-left: 162px;
	color: #efe5d0;
}

header.top h3 {
	padding-left: 160px;
	line-height: 1em;
}

#tableContainer {
	display: table;
	border: thin solid #007e7e;
	border-spacing: 1px;
}

#tableRow {
	display:  table-row;
	background-color: #efe5d0;
}

section#directory {
	display: table-cell;
	line-height: 2em;
	border: thin solid #007e7e;
	padding: 10px;
	background-color: #efe5d0;
	width: 20%;
}

section#directory ul li {
	list-style-type: square;
	padding-top: 10px;
	margin-top: 20px;
}
section#content {
	display: table-cell;
	padding: 10px;
	line-height: 1.6em;
	border: thin solid #007e7e;
	background:  #efe5d0 url(images/background.gif) top left;
	vertical-align: top;
	width: 70%
}

section#content ul {
	background-color: #efe5d0;
	margin: 0px 10px 0px 10px;
	list-style-type: none;
	padding: 0px;
	background-color: #efe5d0;
}

section#content ul li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

section#content ul li.selected {
	background-color: #c8b99c;
}

aside {
	display: table-cell;
	border: thin solid #007e7e;
	background: #efe5d0 url("images/cocktail.gif") bottom right;
	padding: 15px;
	font-size: 105%;
	line-height: 1.6em;
	vertical-align: top;
	width: 30%;
}

#gohome {
	padding: 0px 0px 0px 40px;
}

table {
	margin-left: 20px;
	margin-right: 20px;
	border: thin solid black;
	caption-side: top;
	border-collapse: collapse;
}

td, th {
	border: thin dotted gray;
	padding: 5px;
}

th {
	background-color: #cc6600;
}

tr:nth-child(even) {
	background-color: #fcba7a;
}

caption {
	font-style: italic;
	padding-bottom: 8px;
}

